# Iran Open Data

Source: http://iranopendata.org/en/datasets/nocrhsp172

---  

## Number of deaths registered in 1394, disaggregated by causes of death and region

---

### Importing libraries and tools

In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from matplotlib.pylab import rcParams

%matplotlib inline
rcParams.figsize = (17,17)

### Importing the dataset

In [8]:
df = pd.read_csv('nocrhsp172en.csv')

In [11]:
df.head()

,Province,Total death (person),Infections and Parasitic diseases (person),Cancer and Tumours (person),Haematopoietic immune system diseases (person),Nutritional and metabolic diseases (person),Mental illness and behavioural disorders (person),Nervous system diseases (person),Cardiovascular diseases (person),Respiratory system diseases (person),...,Diseases of the skin and subcutaneous (person),Musculoskeletal disorders (person),Urogenital tract diseases (person),Complications of pregnancy and childbirth (person),Congenital malformations and chromosomal (person),Diseases during the perinatal (person),Symptoms are vague and ill-defined conditions (person),Unintentional injuries (person),Unknown (person),Others (person)
0,Total,345487,11486,35732,2131,5384,1165,5482,133627,28096,...,57,684,6341,287,6736,7589,39930,25172,25029,3115
1,Azerbaijan East,20877,134,2349,399,381,101,456,6770,1797,...,0,19,391,23,413,109,3328,1236,2319,216
2,Azerbaijan West,14006,127,2029,50,172,81,216,4833,724,...,1,14,196,29,285,238,1425,895,2330,195
3,Ardabil,6115,58,917,20,138,40,41,2156,310,...,0,5,110,2,99,88,1358,393,230,52
4,Isfahan,21937,515,2481,72,346,32,452,9313,1639,...,2,85,534,9,712,212,2037,1500,1531,102

In [13]:
data = df.loc[1:,:]

In [15]:
data.head()

,Province,Total death (person),Infections and Parasitic diseases (person),Cancer and Tumours (person),Haematopoietic immune system diseases (person),Nutritional and metabolic diseases (person),Mental illness and behavioural disorders (person),Nervous system diseases (person),Cardiovascular diseases (person),Respiratory system diseases (person),...,Diseases of the skin and subcutaneous (person),Musculoskeletal disorders (person),Urogenital tract diseases (person),Complications of pregnancy and childbirth (person),Congenital malformations and chromosomal (person),Diseases during the perinatal (person),Symptoms are vague and ill-defined conditions (person),Unintentional injuries (person),Unknown (person),Others (person)
1,Azerbaijan East,20877,134,2349,399,381,101,456,6770,1797,...,0,19,391,23,413,109,3328,1236,2319,216
2,Azerbaijan West,14006,127,2029,50,172,81,216,4833,724,...,1,14,196,29,285,238,1425,895,2330,195
3,Ardabil,6115,58,917,20,138,40,41,2156,310,...,0,5,110,2,99,88,1358,393,230,52
4,Isfahan,21937,515,2481,72,346,32,452,9313,1639,...,2,85,534,9,712,212,2037,1500,1531,102
5,Alborz,8574,472,669,71,95,6,144,3599,1275,...,0,5,125,2,91,315,225,486,556,251

### Geotagging these areas

In [25]:
import geocoder

In [26]:
data['Latitude'] = ''
data['Longitude'] = ''

/Users/janakajain/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/janakajain/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [27]:
for i, row in data.iterrows():
    
    lat, lon = geocoder.google(data.loc[i,'Province']).latlng
    data.loc[i,'Latitude'] = lat
    data.loc[i,'Longitude'] = lon

/Users/janakajain/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [29]:
data.head()

,Province,Total death (person),Infections and Parasitic diseases (person),Cancer and Tumours (person),Haematopoietic immune system diseases (person),Nutritional and metabolic diseases (person),Mental illness and behavioural disorders (person),Nervous system diseases (person),Cardiovascular diseases (person),Respiratory system diseases (person),...,Urogenital tract diseases (person),Complications of pregnancy and childbirth (person),Congenital malformations and chromosomal (person),Diseases during the perinatal (person),Symptoms are vague and ill-defined conditions (person),Unintentional injuries (person),Unknown (person),Others (person),Latitude,Longitude
1,Azerbaijan East,20877,134,2349,399,381,101,456,6770,1797,...,391,23,413,109,3328,1236,2319,216,37.9036,46.2682
2,Azerbaijan West,14006,127,2029,50,172,81,216,4833,724,...,196,29,285,238,1425,895,2330,195,37.455,45
3,Ardabil,6115,58,917,20,138,40,41,2156,310,...,110,2,99,88,1358,393,230,52,38.2537,48.3
4,Isfahan,21937,515,2481,72,346,32,452,9313,1639,...,534,9,712,212,2037,1500,1531,102,32.6546,51.668
5,Alborz,8574,472,669,71,95,6,144,3599,1275,...,125,2,91,315,225,486,556,251,38.9154,-77.2367

### Geomapping these numbers

In [49]:
import gmplot

gmap = gmplot.GoogleMapPlotter(32.4279, 53.6880, 6)

# gmap.plot(data['Latitude'], data['Longitude'], 'cornflowerblue', edge_width=10)
gmap.scatter(data['Latitude'], data['Longitude'], 'red', size = data['Total death (person)']/1000, marker=False)
# gmap.scatter(marker_lats, marker_lngs, 'k', marker=True)
# gmap.heatmap(data['Latitude'], data['Longitude'], 40)

gmap.draw("mymap.html")

TypeError: cannot convert the series to <type 'int'>

## Number of students and educational facilities for secondary school level disaggregated by provinces - School year 1394-1395

In [47]:
school_df = pd.read_csv('scied1716en.csv')

In [48]:
school_df.head()

,Province,Number of students,Number of male students,Number of female students,Educational personnel – Teachers,Educational personnel – management and quality sector,Number of educational institution,Number of classrooms
0,Azerbaijan East,150443,78861,71582,7432,2810,1377,6565
1,Azerbaijan West,131688,71436,60252,5554,2061,944,5154
2,Ardabil,50202,26107,24095,3322,1109,546,2431
3,Isfahan,187898,95910,91988,7859,3619,1266,7434
4,Alborz,97408,50329,47079,3346,1327,429,3317

In [52]:
school_df.sum()

Province                                                 Azerbaijan EastAzerbaijan WestArdabilIsfahanAl...
Number of students                                                                                 3044359
Number of male students                                                                            1591299
Number of female students                                                                          1688260
Educational personnel – Teachers                                                                    142409
Educational personnel – management and quality sector                                                57133
Number of educational institution                                                                    23827
Number of classrooms                                                                                125638
dtype: object

### Proportion of male students

In [53]:
school_df['Proportion of male students'] = school_df['Number of male students'] / school_df['Number of students']

In [56]:
school_df.sort(['Proportion of male students'], ascending = False).head(3)

/Users/janakajain/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Province,Number of students,Number of male students,Number of female students,Educational personnel – Teachers,Educational personnel – management and quality sector,Number of educational institution,Number of classrooms,Proportion of male students
15,Sistan and Baluchestan,118276,66961,51315,4596,2111,980,4747,0.566142
1,Azerbaijan West,131688,71436,60252,5554,2061,944,5154,0.542464
10,Khorasan Razavi,252060,136506,125554,13101,4940,2120,11131,0.541562

### Percentage contribution of students by province

In [58]:
school_df['Percentage students'] = (school_df['Number of students'] / np.sum(school_df['Number of students']))*100

In [62]:
school_df.sort(['Percentage students'] , ascending = False).head(3)

/Users/janakajain/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Province,Number of students,Number of male students,Number of female students,Educational personnel – Teachers,Educational personnel – management and quality sector,Number of educational institution,Number of classrooms,Proportion of male students,Percentage students
7,Tehran,459935,235449,224486,14542,6512,1959,15851,0.511918,15.107778
10,Khorasan Razavi,252060,136506,125554,13101,4940,2120,11131,0.541562,8.279575
12,Khuzestan,204129,107999,96130,8804,3996,1572,8464,0.529072,6.705155

### Province with highest number of students

In [63]:
school_df.sort(['Number of students'] , ascending = False).head(1)

/Users/janakajain/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Province,Number of students,Number of male students,Number of female students,Educational personnel – Teachers,Educational personnel – management and quality sector,Number of educational institution,Number of classrooms,Proportion of male students,Percentage students
7,Tehran,459935,235449,224486,14542,6512,1959,15851,0.511918,15.107778

### Province with lowest number of students

In [64]:
school_df.sort(['Number of students'] , ascending = True).head(1)

/Users/janakajain/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Province,Number of students,Number of male students,Number of female students,Educational personnel – Teachers,Educational personnel – management and quality sector,Number of educational institution,Number of classrooms,Proportion of male students,Percentage students
5,Ilam,21993,11486,10507,1759,477,242,1086,0.522257,0.722418

### Average number of classrooms across the regions

In [69]:
school_df['Number of classrooms'].describe()['50%']

2937.0

In [70]:
school_df['Number of classrooms'].describe()['mean']

4052.8387096774195

### Number of teachers for every student in every region and whole of Iran

In [71]:
school_df['Teacher to student ratio'] = school_df['Educational personnel \xe2\x80\x93 Teachers'] / school_df['Number of students']

In [78]:
overall_ratio = (np.sum(school_df['Educational personnel \xe2\x80\x93 Teachers'])*0.1) / np.sum(school_df['Number of students'])

In [79]:
overall_ratio

0.004677799168889083